<h1>Edit your expense</h1>

<%= simple_form_for @expense, url: expenses_url(@expense) do |f| %>
  <%= f.input :amount %>
  <%= f.input :name %>
  <%= f.input :category, as: :select, collection: ["Incoming", "Outgoing"], prompt: 'Select Category' %>
  <%= f.submit 'Save' %>
<% end %>
