<div class="content">
  <div class="cta" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3711&q=80);">
    <div class="cta-wrapper">
      <div class="text">
        <h1>Track your finances with ease</h1>
      </div>
      <div class="nav-link">
        <%= button_to new_user_registration_path, method: :get, class: 'btn' do %>
          Sign Up
        <% end %>
        <%= button_to new_user_session_path, class: 'btn btn-dark' do %>
          Sign In
        <% end %>
      </div>
    </div>
  </div>
  <div class="icons">
    <div class="icon-wrapper">
      <h3>Easily input your incomings and outgoings</h3>
      <%= image_tag 'finance.svg', class: "icon" %>
    </div>
    <div class="icon-wrapper">
      <h3>Your details secure and safe with 0Auth2 </h3>
      <%= image_tag 'finance.svg', class: "icon"  %>
    </div>
    <div class="icon-wrapper">
      <h3>Share with your family to keep everthing together</h3>
      <%= image_tag 'finance.svg', class: "icon"  %>
    </div>
  </div>
</div>

